/* .card-img-top,img{
    max-height: 196px!important;
}
.h-100{
    margin-bottom: 5px!important;
}
.btn-primary{
    background:  white!important;
    color: rgb(43, 122, 226)!important;
  }
  
  .btn-primary:hover{
    background-color: rgb(43, 122, 226)!important;
    color:  white!important;
    transition: 0.6s;
  } */